# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/
