services:
  - type: web
    name: balikesir-hotel-comparison
    env: python
    region: frankfurt
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: SERPAPI_KEY
        sync: false
